* {
    margin: 0;
    box-sizing: border-box;
  }
  
.coffee-page {
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    background-color: #B1753F;
  }

  .toolbar {
    background-color: #542F0D;
    padding: 2vh 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
  }